body {
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

h1, h2, h3 {
    font-size: 36px;
    color: brown;
}

p {
    font-size: 18px;
    color: gray;
}